@model PropertyRentalManagementWebSite.Models.Apartment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutForManager.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="IndexForManager">Back to List</a>
</div>
